.app-header {
    align-items: flex-end;
}

.app-header h1 {
    flex-grow: 1;
}

.app-header h2 {
    font-size: 1rem;
    color: grey;
}
 
@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    h1{
        font-size: 30px;
    }
}

@media screen and (min-width: 768px){
    h1{
        font-size: 40px;
    }
}